.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.boxName {
 font-size:x-large;
 background-color:#673Ab7;
 color:white;
}

.boxContainer {
	border-style:solid;
}

.subBox {
	margin-left:1em;
}

.boxProp {
	margin-left:3px;
	font-size:medium;
	color:black;
	background-color:white;
}

.arrayEntry {
	padding-right: 0.5em;
}

.inputArea {
	display:grid;
}

.inputBox {
	height:10em;
	width:70%;
	margin: 10px;
}

.parseButton {
	width:10em;
	margin:5px;
}

.Result {

}