details {
	margin-left: 1em;
}

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.boxName {
	font-size: large;
	background-color: rgba(104, 58, 183, 0.74);
	color: white;
}

.boxContainer {
	border-style: solid;
}

.subBox {
	margin-left: 1em;
}

.boxProp {
	margin-left: 1em;
	font-size: medium;
	font-weight: bold;
	color: black;
	background-color: white;
}

.boxContents {
	font-weight: normal;
}

.arrayEntry {
	padding-right: 0.5em;
}

.inputArea {
	display: grid;
	grid-template-columns: 7em 2em 7em 20em;
}

.inputBox {
	height: 10em;
	width: 70%;
	margin: 10px;
}

.parseButton {
	width: 5em;
	margin: 5px;
	height: 3em;
	padding: 0;
	color:whitesmoke;
	font-size:large;
	background: #673ab7;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	z-index: 50;
	border: none;
}