html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

.treeControl {
	display:flex;
	width:20%;
}

.tagSearch {
	background-color:#673ab7;
	border: 1 solid #683bb8;
	color:whitesmoke;
	box-shadow: none;
	height:2em;
	border-radius:3px;
	padding:2px;
	margin-top:2px;
	font-size:large;
}

#app {
	height: 100%;
}


